<!DOCTYPE html>
<html>
	<head>
    <title>OldPhoneDeals</title>
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/checkout.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	</head>
    <body>
			<header>
				<div id="navBarMenu">
					<div id="navBarTitle">
							OldPhoneDeals
					</div>
					<nav>
                        <ul id="navBarLinks">
                            <li><a href="/">Home</a></li>
                        </ul>	
					</nav>
				</div>
			</header>

        <div id="checkoutContent">
            <h2> Checkout </h2>
            <% for(var i=0; i < cart.length; i++) { %>
                <div class="product-box">
                    <p><%= cart[i].phone.title %></p>
                    <p> $<%= cart[i].phone.price %></p>
                    <input type="number" value="<%= cart[i].phone.quantity %>"/>
                    <button>Remove</button>
                </div>
            <% } %>
            <div class="footer">
                <label>Total price: $</label>
                <button>Confirm</button>
                <button>Back</button>
            </div>
        </div>
        </div>
        <script>
			var state = "<%= state %>";
            var cart = <%- JSON.stringify(cart) %>;
			var mainPageData = <%- JSON.stringify(mainPageData) %>;
        </script>
				<!-- <script src="js/shared.js"></script> -->
		<script src="js/search.js"></script>
        <script src="js/main.js"></script>
        
				<!-- <script src="js/signout.js"></script> -->
        <script src="js/checkout.js"></script>
    </body>
</html>
